body{
    font-family: 'Inter', 'Roboto', sans-serif;
    background: linear-gradient(rgb(126, 215, 132), rgba(87, 199, 133, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem 1rem;
    margin: 0;
}

h1 {
    text-align: center;
    color:rgb(67, 135, 66);
    margin-bottom: 1rem;
}

.calendar-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    max-width: 1100px;
}

.day-labels{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: 600;
    padding: 0.5rem 0;
    color:rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.5rem 0;
}



.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

.column{
    background:white;
    aspect-ratio: 1/1;
    height: auto;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: transform 0.3s ease;
    border: 1px solid black;
    justify-content: space-between;
    overflow: hidden; 
}

.column h3{
    margin-top: 0;
    font-size: 0.95rem; 
    color:rgb(74, 199, 141);
    font-weight: bold; 
    text-align: right;
}

.column:hover{
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}  

.openButton{
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(164, 197, 192);
    border-radius: 6px;
    margin-top: 0.5rem;
    transition: background-color 0.2s ease;
}

.openButton:hover{
    background-color: rgb(126, 215, 132);
}

.modal-body >*{
    display: block;
    margin-bottom:10px;
    width: 100%;
}

.modal-body > *:last-child{
    margin-bottom:0;
}

.modal-body{
    padding: 10px 15px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    z-index: 10;
    width: 500px;
    max-width: 80%;
}


.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline:none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-tabs{
    display: flex;
    border-bottom: 1px solid black;
}

.tab-button{ 
    flex: 1;
    padding: 0.5rem;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.tab-button.active{
    border-bottom: 2px solid rgb(126, 215, 132);
    color:#70cfa3;
}

.tab-content {
    display: none;
    padding-top: 1rem; 
}

.tab-content.active {
    display: block;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
}

#overlay.active {
    opacity: 1;
    pointer-events:all;

}


.outputBox{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: 1px solid black; 
    white-space: pre-wrap;
    flex-grow: 1; 
    overflow-y: auto;
    max-height: 100%;
    font-size: 0.85rem; 
}
.clearButton{
    width: 120px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(164, 197, 192);
    border: none;
    border-radius: 6px;
    margin: 1rem 0;
    display: block;
    transition: background-color 0.2 ease; 
}


.clearButton:hover {
    background-color: #70cfa3;
}

input[type="range"]{
    width: 100%;
    margin: 0.5rem 0;
}

.slider-labels{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color:rgb(0, 0, 0);
    margin-bottom: 1rem;
}